@import "../variables/_color.scss";
@import "../variables/_font.scss";

$chart-index-active-color: $color-tradewind;

.chart-area {
    width: 1080px;
    height: auto;
    padding-top: 26px;
    margin: 0 auto;

    .flex {
        display: flex;
    }

    .chart-explain {
        width: 240px;
        height: 40px;
        background-color: $color-gray77;
        padding-left: 11px;
        padding-top: 13px;

        .page-explain {
            font-size: $h1;
        }

        .update-date {
            font-size: $font-s3;
        }
    }

    .bookmark-explain {
        width: 240px;
        height: 40px;
        background-color: $color-gray77;
        padding-top: 10px;
        padding-left: 11px;
        padding-right: 14px;
        display: flex;
        justify-content: space-between;

        .page-explain {
            font-size: $h1;
        }

        .bookmark-searchbar {
            width: 150px;
            height: 25px;
            border-radius: 5px;
            padding-top: 4px;
            padding-right: 4px;
            padding-bottom: 4px;
            align-items: center;

            .searchbar-input {
                width: 137px;
            }

            .search-icon {
                background-image: url("/svg/searchIcon.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $color-white;
                width: 9px;
                height: 12px;
                align-items: center;
            }
        }
    }

    .popular-button {
        padding-top: 15px;
        padding-left: 7px;
        width: 71px;
        display: flex;
        justify-content: space-between;

        a {
            width: 14px;
            height: 14px;
            text-align: center;
        }
    }
}
