
@use "sass:map";
@import "../../../variables/_color.scss";
@import "../../../font.scss";

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, menu, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul {
    list-style-type: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    $main-layout-background-color: $color-gray95;
    $main-layout-default-color: $text-primary;
    $main-layout-default-font-size: map-get($font-sizes, 6);
    $main-layout-width: 100%;
    $main-layout-height: 100%;

    $customer-menu-margin-top: 4px;
    $customer-menu-p-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    $between-customer-menu-ps-margin-left: 6px;

    $identity-box-width: 450px;
    $identity-box-height: 570px;
    $identity-box-background-color: $color-white;
    $identity-box-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    $identity-padding: 36px 23px;

    $logo-wrapper-margin-bottom: 36px;

    $logo-width: 162px;
    $logo-height: 32px;
    $logo-fill: $color-soft-lime;

    font-family: 'Roboto', 'Noto Sans KR', 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $main-layout-background-color;
    font-size: $main-layout-default-font-size;
    width: $main-layout-width;
    height: $main-layout-height;

    .identity-region {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .container {

            footer {
                width: inherit;

                .customer-menu {
                    display: flex;
                    margin-top: $customer-menu-margin-top;

                    a {
                        color: $main-layout-default-color;
                        text-decoration: none;
                    }

                    p {
                        text-shadow: $customer-menu-p-text-shadow;
                    }

                    p + p {
                        margin-left: $between-customer-menu-ps-margin-left;
                    }
                }
            }

            .identity-box {
                width: $identity-box-width;
                height: $identity-box-height;
                background-color: $identity-box-background-color;
                box-shadow: $identity-box-box-shadow;
                padding: $identity-padding;

                .logo-wrapper {
                    display: flex;
                    justify-content: center;
                    margin-bottom: $logo-wrapper-margin-bottom;

                    .logo {
                        width: $logo-width;
                        height: $logo-height;
                        fill: $logo-fill;
                    }
                }
            }
        }
    }
}
