@import "variables/_color";
@import "variables/_font";

table {
    border-collapse: collapse;
    background-color: @color-white;
    color: @color-gray20;

    tr {
        td, th {
            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    &:hover {
        background-color: @color-light-grayish-blue;
    }
}
