@import 'variables/_color.scss';

.white {
    color: $color-white;
    fill: $color-white;
}

.mostly-white {
    color: $color-mostly-white;
    fill: $color-mostly-white;
}

.black {
    color: $color-black;
    fill: $color-black;
}

.gray20 {
    color: $color-gray20;
    fill: $color-gray20;
}

.gray50 {
    color: $color-gray;
    fill: $color-gray;
}

.gray51 {
    color: $color-gray51;
    fill: $color-gray51;
}

.gray59 {
    color: $color-gray59;
    fill: $color-gray59;
}

.gray67 {
    color: $color-gray67;
    fill: $color-gray67;
}

.gray77 {
    color: $color-gray77;
    fill: $color-gray77;
}

.gray90 {
    color: $color-gray90;
    fill: $color-gray90;
}

.color-bright-gray {
    color: $color-bright-gray;
    fill: $color-bright-gray;
}

.very-light-gray {
    color: $color-very-light-gray;
    fill: $color-very-light-gray;
}

.tradewind {
    color: $color-tradewind;
    fill: $color-tradewind;
}

.turkishrose {
    color: $color-turkishorse;
    fill: $color-turkishorse;
}

.grotesque-green {
    color: $color-grotesque-green;
    fill: $color-grotesque-green;
}

.green-cyan {
    color: $color-green-cyan;
    fill: $color-green-cyan;
}
