@import "variables/_color.scss";
@import "variables/_font.scss";

table {
    border-collapse: collapse;
    width: 100%;
    padding-left: 32px;
    text-align: center;

    tr {
        td, th {
            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}

.table-gray {
    th {
        background-color: $color-gray59;
    }

    tr {
        &:nth-child(2n) {
            background-color: $color-gray67;
        }

        &:nth-child(2n+1) {
            background-color: $color-gray77;
        }
    }
}

.table-white {
    border: 1px solid $color-gray51;

    th {
        background-color: $color-gray90;
    }

    td {
        background-color: $color-white;
    }
}

.table-radius-4 {
    border-radius: 4px 4px 0px 0px;
}


.chart-table {
    font-size: $h1;

    th {
        height: 36px;
        font-weight: bold;
        font-size: inherit;
    }

    td {
        height: 120px;
        font-size: inherit;
    }

    th, td {

        &:nth-child(1) {
            width: 16%;
        }

        &:nth-child(2) {
            width: 57%;
        }

        &:nth-child(3), &:nth-child(4) {
            width: 9%
        }

        &:nth-child(5) {
            width: 8%;
        }
    }

    td:nth-child(1) {
        p {
            position: absolute;
            left: 11px;
            top: 45%;
            margin: 0;
            padding: 0;
        }
    }

    td:nth-child(2) {
        text-align: left;
    }
}

.chart-pagenum-area {
    width: 440px;
    padding-top: 46px;
    padding-bottom: 76px;
    display: flex;
    justify-content: space-between;

    a {
        font-weight: 700;
        font-size: $h2;
        color: black;
    }

    .arrow {
        width: 10px;
    }
}
