@import "variables/_color.scss";
@import "variables/_font.scss";

table {
    border-collapse: collapse;
    width: 100%;
    padding-left: 32px;
    text-align: center;

    tr {
        td, th {
            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}

.table-gray {
    th {
        background-color: $color-gray59;
    }

    tr {
        &:nth-child(2n) {
            background-color: $color-gray67;
        }

        &:nth-child(2n+1) {
            background-color: $color-gray77;
        }
    }
}

.table-white {
    border: 1px solid $color-gray51;

    th {
        background-color: $color-gray90;
    }

    td {
        background-color: $color-white;
    }
}

.table-radius-4 {
    border-radius: 4px 4px 0px 0px;
}

.chart-pagenum-area {
    width: 440px;
    padding-top: 46px;
    padding-bottom: 76px;
    display: flex;
    justify-content: space-between;

    a {
        font-weight: 700;
        font-size: $h2;
        color: black;
    }

    .arrow {
        width: 10px;
    }
}
