@import "color.scss";

.button-lg {
    width: 70px;
    height: 36px;
}

.button-md {
    width: 60px;
    height: 36px;
}

.button-sm {
    width: 39px;
    height: 24px;
}

.button-md2 {
    width: 55px;
    height: 28px;
}

.button-md3 {
    width: 43px;
    height: 26px;
}

.mostly-white-button {
    background-color: $color-mostly-white;
}

.very-light-gray-button {
    background-color: $color-very-light-gray;
}

.gray51-button {
    background-color: $color-gray51;
}

.gray77-button {
    background-color: $color-gray77;
}

.gray90-button {
    background-color: $color-gray90;
}

.tradewind-button {
    background-color: $color-tradewind;
}

.grotesque-green-button {
    background-color: $color-grotesque-green;
}

.button-radius-1 {
    border-radius: 1px;
}
