$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #808080;
$color-gray20: #333333;
$color-gray51: #828282;
$color-gray59: #969696;
$color-gray67: #aaaaaa;
$color-gray77: #C4C4C4;
$color-gray90: #E5E5E5;
$color-tradewind: #6BB9A4;
$color-turkishorse: #B96B80;
$color-grotesque-green: #58E28B;
$color-green-cyan: #BEFAD7;
$color-mostly-white: #F8F8F8;

.white {
    color: $color-white;
    fill: $color-white;
}

.mostly-white {
    color: $color-mostly-white;
    fill: $color-mostly-white;
}

.black {
    color: $color-black;
    fill: $color-black;
}

.gray20 {
    color: $color-gray20;
    fill: $color-gray20;
}

.gray50 {
    color: $color-gray;
    fill: $color-gray;
}

.gray51 {
    color: $color-gray51;
    fill: $color-gray51;
}

.gray59 {
    color: $color-gray59;
    fill: $color-gray59;
}

.gray67 {
    color: $color-gray67;
    fill: $color-gray67;
}

.gray77 {
    color: $color-gray77;
    fill: $color-gray77;
}

.gray90 {
    color: $color-gray90;
    fill: $color-gray90;
}

.tradewind {
    color: $color-tradewind;
    fill: $color-tradewind;
}

.turkishrose {
    color: $color-turkishorse;
    fill: $color-turkishorse;
}

.grotesque-green {
    color: $color-grotesque-green;
    fill: $color-grotesque-green;
}

.green-cyan {
    color: $color-green-cyan;
    fill: $color-green-cyan;
}
