@import "_all.scss";

$header-background-color: $color-tradewind;
$footer-background-color: $color-grotesque-green;
$main-content-background-color: $color-green-cyan;

.dropdown {
    position: sticky;
    display: block;

    a, .dropdown-button {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
    }

    .dropdown-content {
        display: none;
        top: 100%;
        background-color: $color-white;
        position: absolute;
        width: 40px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
        color: $color-gray20;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);

        a {
            color: black;
            padding: 4px 10px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        a+a {
            border-top: 1px solid $color-gray77;
        }

        a:hover {
            background-color: $color-gray90;
        }
    }
}

.dropdown:hover {
    .dropdown-content {
        display: block;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header-height;
    background-color: $header-background-color;
    min-width: $header-min-width;

    * {
        color: $color-white;
    }

    nav {
        height: inherit;
    }

    .container {
        width: 56.25vw;
        min-width: inherit;
        height: $header-height;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-side {
            height: inherit;
            justify-content: space-between;

            .nav-logo {
                display: flex;
                align-items: center;
                width: 52px;
                height: inherit;
            }
        }

        ul {
            display: flex;
            height: inherit;
            justify-content: space-between;

            .nav-item {
                height: 100%;
                margin-left: 25px;
                display: flex;
                align-items: center;

                .logout-button {
                    font-size: $font-s3;
                    cursor: pointer;
                    text-decoration-line: none;
                }
            }

            .nav-item.active {
                border-top: 4px solid transparent;
                border-bottom: 4px solid $color-white;
                font-weight: bold;
            }
        }

        .navbar-nav {
            display: flex;
            justify-content: space-between;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $footer-background-color;
    height: $footer-height;
    min-width: $footer-min-width;

    * {
        color: $color-white;
    }

    .container {
        width: 56.25vw;
        min-width: inherit;
        padding-bottom: 51px;

        .footer-link {
            width: 188px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;

            .link-item {
                height: inherit;
                padding-bottom: 6px;
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
        }
    }
}

.main-area {
    min-height: calc(100vh - $header-height - $footer-height);
    background-color: $color-green-cyan;
    color: $color-gray20;
    display: flex;
    justify-content: center;
}