@import "color.scss";
@import "font.scss";

$searchbar-height: 50px;
$searchbar-width: 630px;
$search-icon-width: 34px;
$search-icon-height: 33px;
$main-searchbar-input-padding-right: 14px;

.main-searchbar {
    display: flex;
    align-items: center;
    width: $searchbar-width;
    margin-top: 17px;
    box-shadow: 0px 1px 2px 0px $color-gray;
    background-color: $color-white;

    input {
        width: $searchbar-width - $search-icon-width - $main-searchbar-input-padding-right;
        color: $color-gray20;
        outline: 0;
        border-width: 0px;
        font-size: 14px;
        padding: 17px 14px 17px $main-searchbar-input-padding-right;
    }

    .search-icon {
        background-color: $color-white;
        width: $search-icon-width;
        height: $search-icon-height;
        background-image: url("/svg/searchIcon.svg");
        border: 0;
        background-size: cover;
    }
}