@import "color.scss";
@import "font.scss";

.searchbar {
    display: flex;
    background-color: $color-white;

    input {
        color: $color-gray20;
        outline: 0;
        border-width: 0px;
    }

    .icon {
        border: 0;
        background-size: cover;
    }
}