@import "button.scss";
@import "color.scss";
@import "font.scss";
@import "table.scss";

$item-color: $color-white;
$header-background-color: $color-tradewind;
$footer-background-color: $color-grotesque-green;
$main-content-background-color: $color-green-cyan;

$header-height: 40px;
$footer-height: 150px;
$searchbar-height: 50px;
$searchbar-width: 630px;
$searchbar-img-size: 33px;
$searchbar-img-width: $searchbar-img-size;
$searchbar-img-height: $searchbar-img-size;

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;
    font-size: $font-s3;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}