@import '_button.scss';
@import '_color.scss';
@import '_font.scss';
@import '_searchbar.scss';
@import '_table.scss';

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: $font-s3;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: unset;

    &:hover {
        text-decoration-line: underline;
    }
}

.pagenum {
    margin: 0 auto;

    .active {
        pointer-events: none;
        cursor: default;
        color: $color-tradewind;
    }

    .arrow {
        content: url(/Svg/leftPageIcon.svg);
    }

    .arrow.right-arrow {
        transform: rotate(180deg);
    }

    .arrow.disable {
        content: url(/Svg/leftPageIcon.svg?fill=969696);
        pointer-events: none;
        cursor: default;
    }
}

.chart-table {
    font-size: $h1;

    th {
        height: 36px;
        font-weight: bold;
        font-size: inherit;
    }

    td {
        height: 120px;
        font-size: inherit;
    }

    th, td {

        &:nth-child(1) {
            width: 16%;
        }

        &:nth-child(2) {
            width: 57%;
        }

        &:nth-child(3), &:nth-child(4) {
            width: 9%
        }

        &:nth-child(5) {
            width: 8%;
        }
    }

    td:nth-child(1) {
        p {
            position: absolute;
            left: 11px;
            top: 45%;
            margin: 0;
            padding: 0;
        }
    }

    td:nth-child(2) {
        text-align: left;
    }
}
