@import '_button.scss';
@import '_color.scss';
@import '_font.scss';
@import '_searchbar.scss';
@import '_table.scss';

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: $font-s3;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: unset;

    &:hover {
        text-decoration-line: underline;
    }
}

.pagenum {
    margin: 0 auto;

    .active {
        pointer-events: none;
        cursor: default;
        color: $color-tradewind;
    }

    .arrow {
        content: url(/Svg/leftPageIcon.svg);
    }

    .arrow.right-arrow {
        transform: rotate(180deg);
    }

    .arrow.disable {
        content: url(/Svg/leftPageIcon.svg?fill=969696);
        pointer-events: none;
        cursor: default;
    }
}
