@use "sass:map";

$font-sizes: (
  1: 25px,
  2: 20px,
  3: 18px,
  4: 17px,
  5: 16px,
  6: 15px,
  7: 14px,
  8: 13px,
  9: 11px,
  10: 9px
);

$h1-font-size: 72px;
$h2-font-size: 60px;
$h3-font-size: 56px;
$h4-font-size: 40px;
$h5-font-size: 36px;
$h6-font-size: 32px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Noto Sans KR', 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-black: #000000;
  --color-bright-magenta: #B83FDD;
  --color-bright-orange: #F37934;
  --color-dark-moderate-cyan: #419880;
  --color-dark-moderate-pink: #99475D;
  --color-gray20: #333333;
  --color-gray33: #555555;
  --color-gray51: #828282;
  --color-gray56: #909090;
  --color-gray59: #969696;
  --color-gray67: #AAAAAA;
  --color-gray77: #C4C4C4;
  --color-gray79: #C9C9C9;
  --color-gray82: #D2D2D2;
  --color-gray85: #D9D9D9;
  --color-gray91: #E9E9E9;
  --color-gray95: #F2F2F2;
  --color-gray98: #FAFAFA;
  --color-gray99: #FDFDFD;
  --color-light-grayish-blue: #DADCE0;
  --color-light-orange67: #FF9458;
  --color-light-orange69: #FFC963;
  --color-light-red: #FF6378;
  --color-moderate-blue: #3257C6;
  --color-moderate-cyan: #4FC3CB;
  --color-moderate-cyan-lime-green: #38C76D;
  --color-moderate-red: #C04432;
  --color-mostly-desaturated-dark-blue: #505A78;
  --color-mostly-desaturated-dark-cyan: #709B90;
  --color-pale-blue: #B1C5FF;
  --color-slightly-desaturated-cyan: #6BB9A4;
  --color-slightly-desaturated-pink: #B96B80;
  --color-soft-blue: #5A7DE6;
  --color-soft-lime: #58E28B;
  --color-soft-magenta: #DB6FFC;
  --color-soft-red: #E66C5A;
  --color-stale-aquamarine: #BEFAD7;
  --color-strong-blue: #006FC9;
  --color-strong-lime: #03C75A;
  --color-strong-orange: #D69E35;
  --color-very-dark-desaturated-blue: #2B3550;
  --color-very-dark-grayish-blue: #5F6368;
  --color-very-dark-grayish-orange: #605E5C;
  --color-very-soft-cyan: #89E2E8;
  --color-vivid-red: #E7223D;
  --color-white: #FFFFFF;
}

ul {
  list-style-type: none;
}

ul,
li,
ol,
p {
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;

  .dropdown-content {
    display: none !important;
    position: absolute;
    left: 0;
    top: 100%;
    width: max-content;
  }

  &:hover {
    .dropdown-content {
      display: block !important;

    }
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.table-white-border-gray {
  --table-width: 100%;
  --table-background-color: var(--color-white);
  --table-box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13), 0px 0.3px 0.9px rgba(0, 0, 0, 0.11);
  --table-border-radius: 5px;

  --table-head-font-size: 18px;
  --table-head-border-bottom: 1px solid var(--color-gray82);
  --table-head-padding: 15px 0 15px 0;

  --table-content-font-size: 18px;
  --table-content-border-bottom: 1px solid var(--color-gray82);
  --table-content-padding: 15px 0 15px 0;

  width: var(--table-width);
  background-color: var(--table-background-color);
  box-shadow: var(--table-box-shadow);
  border-radius: var(--table-border-radius);
  border-collapse: collapse;

  thead tr:first-child {
    font-size: var(--table-head-font-size);
    border-bottom: var(--table-head-border-bottom);
  }

  tbody tr {    
    padding: var(--table-content-padding);
    border-bottom: var(--table-content-border-bottom);
    font-size: var(--table-content-font-size);
  }
}

.bottom-right-box-shadow {
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13), 0px 0.3px 0.9px rgba(0, 0, 0, 0.11);
}

.h1 {
  font-size: $h1-font-size;
}

.h2 {
  font-size: $h2-font-size;
}

.h3 {
  font-size: $h3-font-size;
}

.h4 {
  font-size: $h4-font-size;
}

.h5 {
  font-size: $h5-font-size;
}

.h6 {
  font-size: $h6-font-size;
}

.fs-1 {
  font-size: map.get($font-sizes, 1); 
}

.fs-2 {
  font-size: map.get($font-sizes, 2);
}

.fs-3 {
  font-size: map.get($font-sizes, 3);
}

.fs-4 {
  font-size: map.get($font-sizes, 4);
}

.fs-5 {
  font-size: map.get($font-sizes, 5);
}

.fs-6 {
  font-size: map.get($font-sizes, 6);
}

.fs-7 {
  font-size: map.get($font-sizes, 7);
}

.fs-8 {
  font-size: map.get($font-sizes, 8);
}

.fs-9 {
  font-size: map.get($font-sizes, 9);
}

.fs-10 {
  font-size: map.get($font-sizes, 10);
}