@import "layout.scss";

$container-height: 720px;
$register-agreement-area-width: 404px;
$password-blind-switch-width: 22px;
$password-blind-switch-heignt: 19px;

input[type='checkbox'] {
    appearance: none;
    cursor: pointer;
    width: 19px;
    height: 19px;
    background-image: url('/svg/checkCircleIcon.svg?fill=' + str-slice("#{$color-gray77}",2));
    margin: 0;
    padding: 0;

    &:checked {
        background-image: url('/svg/checkCircleIcon.svg?fill=' + str-slice("#{$color-grotesque-green}",2));
    }
}

.container {
    height: $container-height;
}

footer {
    margin-top: 27px;
}
.register-title {
    font-size: $font-s1;
    font-weight: bold;
}

.form-input {
    width: 404px;
    border-bottom: 1px solid $color-gray77;

    .form-email-control, .form-nickname-control {
        border: none;
        color: $color-gray67;
        width: 404px;
        padding: 10px 0px;
        font-size: $font-s3;
        border: none;
        outline: none;
    }

    .form-password-control {
        border: none;
        color: $color-gray67;
        width: 404px - $password-blind-switch-width - 11px;
        padding: 10px 0px;
        font-size: $font-s3;
        border: none;
        outline: none;
    }

    .password-blind-switch {
        content: url("/svg/eye.svg?fill=C4C4C4");
        width: $password-blind-switch-width;
        cursor: pointer;
    }

    .password-blind-switch.active {
        content: url("/svg/eyeSlash.svg?fill=C4C4C4");
        width: $password-blind-switch-width;
        cursor: pointer;
    }
}

.warning-icon {
    content: url("/Svg/warningTriIcon.svg?fill=6BB9A4");
    width: 13px;
    position: inherit;
}

.text-danger {
    font-size: $font-s5;
    height: 20px;
    display: block;
}

.agreement-allcheck {
    padding-top: 25px;

    label {
        display: flex;
        align-items: center;
    }

    .accept-all {
        padding: 0;
        margin: 0;
    }

    .agreement-allcheck-text {
        font-size: $font-s1;
        cursor: pointer;
        margin-left: 7px;
    }
}

.agreement-title {
    padding-top: 15px;
}

.agreement-container {

    span {
        display: flex;
        align-items: center;
    }

    .terms-text {
        cursor: pointer;
        margin-left: 7px;
        display: flex;
        align-items: center;

        &:after {
            content: url("/svg/angleRight.svg?fill=AAAAAA");
            margin-left: 0.3rem;
            line-height: 0;
        }
    }

    .terms-content {
        padding-top: 14px;
        color: $color-gray67;
    }

    .terms-content + .terms-content {
        padding-top: 5px;
    }
}

.agree-join {
    margin-top: 25px;

    .agree-join-button {
        border: solid 1px $color-tradewind;
        background-color: $color-grotesque-green;

        &:hover {
            text-decoration-line: none;
        }

        &:disabled {
            border: solid 1px $color-gray77;
            background-color: $color-gray90; 
            cursor: initial;
        }
    }
}