@use "sass:map";
@import "../../scss/variables";

.searchbar {
    --searchbar-default-color: #{$text-primary};
    --searchbar-background-color: var(--color-white);

    --input-background-color: transparent;
    --input-border: none;

    --search-button-background-color: transparent;
    --search-button-border: none;

    --search-icon-fill: var(--color-slightly-desaturated-cyan);

    display: flex;
    background-color: var(--searchbar-background-color);
    color: var(--searchbar-default-color);

    .input {
        background-color: var(--input-background-color);
        border: var(--input-border);
    }

    .search-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--search-button-background-color);
        border: var(--search-button-border);

        .search-icon {
            fill: var(--search-icon-fill);
        }
    }
}

.searchbar.song-searchbar{
    --searchbar-width: 630px;
    --searchbar-height: 50px;
    --searchbar-margin: 0 auto;
    --searchbar-margin-top: 20px;
    --searchbar-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);

    --input-width: 579px;
    --input-height: 50px;
    --input-font-size: #{map.get($font-sizes, 7)};
    --input-padding: 4px 0px 4px 12px;

    --search-button-width: 51px;
    --search-button-padding: 0;

    width: var(--searchbar-width);
    height: var(--searchbar-height);
    box-shadow: var(--searchbar-box-shadow);
    margin: var(--searchbar-margin);
    margin-top: var(--searchbar-margin-top);

    .input {
        width: var(--input-width);
        height: var(--input-height);
        font-size: var(--input-font-size);
        padding: var(--input-padding);
    }

    .search-button {
        width: var(--search-button-width);
        padding: var(--search-button-padding);
        margin: var(--search-button-margin);
    }
}

.searchbar.header-searchbar {
    --searchbar-width: 260px;
    --searchbar-height: 24px;
    --searchbar-margin-right: 1rem;
    --searchbar-border-radius: 5px;

    --input-width: 230px;
    --input-height: 26px;
    --input-font-size: #{map.get($font-sizes, 9)};
    --input-padding: 2px 0px 2px 8px;

    --search-button-width: 30px;

    width: var(--searchbar-width);
    height: var(--searchbar-height);
    box-shadow: var(--searchbar-box-shadow);
    border-radius: var(--searchbar-border-radius);
    margin-right: var(--searchbar-margin-right);

    .input {
        width: var(--input-width);
        height: var(--input-height);
        font-size: var(--input-font-size);
        padding: var(--input-padding);
    }

    .search-button {
        width: var(--search-button-width);
    }
}