@page
@model IndexModel
@{
    ViewData["Title"] = "KaoList";
}

@section Styles{
<link rel="stylesheet" href="/css/pages/home.css" asp-append-version="true" />
}

<div class="main-area">
    <div class="main-container">
        <div class="main-group">
            <a class="logo" asp-area="" asp-page="/">
                <svg src="~/logo.svg" />
            </a>
            <form class="searchbar main-searchbar" asp-controller="Song" asp-action="Index" method="get">
                <input type="text" name="query" value="@ViewBag.query">
                <input class="icon search-icon" type="submit" value="" />
            </form>
        </div>
        <div class="main-chart-content">
            <div class="chart-update">
                <p><strong>최신 곡</strong></p>
                <table class="table-gray">
                    <thead>
                        <tr>
                            <th class="title">곡명</th>
                            <th class="artist">아티스트</th>
                            <th class="number">TJ</th>
                            <th class="number">KY</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UpdateSongs)
                        {
                            <tr>
                                <td>item.Title</td>
                                <td>item.Artist</td>
                                <td>item.Tj</td>
                                <td>item.Ky</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    <a class="more-chart" asp-area="" asp-page="/Chart">차트 더보기 +</a>
                </div>
            </div>
            <div class="chart-popular">
                <p><strong>인기 곡</strong> </p>
                <table class="table-gray">
                    <thead>
                        <tr>
                            <th class="rank">순위</th>
                            <th class="rank-change"></th>
                            <th class="title">곡명</th>
                            <th class="artist">아티스트</th>
                            <th class="number">TJ</th>
                            <th class="number">KY</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PoupularSongs)
                        {
                            <tr>
                                <td>item.Rank</td>
                                <td>item.RankChange</td>
                                <td>item.Title</td>
                                <td>item.Artist</td>
                                <td>item.Tj</td>
                                <td>item.Ky</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    <a class="more-chart" asp-area="" asp-page="/Chart">차트 더보기 +</a>
                </div>
            </div>
        </div>
    </div>
</div>