@model ChartExplainModel;

<div class="chart-explain">
    <span class="page-explain">@Html.DisplayFor(model => model.PageName)</span>
    <span class="update-date">(@Model.UpdateDate?.ToString("yy.MM.dd") 업데이트)</span>
</div>
