@model IChartLayoutModel
@{
    Layout = "../Shared/_Layout";
}

@section Styles{
<environment include="Development">
    <link rel="stylesheet" href="~/css/pages/chart.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/pages/chart.min.css" />
</environment>
}

<div class="main-area">
    <div class="chart-area">
        @RenderBody()
        <partial name="_ChartIndexTableWithQuery" model=Model.Chart />
    </div>
</div>
