@page "{index?}"
@model CodeRabbits.KaoList.Web.Pages.Chart.BookmarkModel
@{
    Layout = "_Layout";
}

<div class="bookmark-explain">
    <span class="page-explain">@Html.DisplayFor(model => model.PageName)</span>
    <form class="searchbar bookmark-searchbar" method="get">
        <input class="searchbar-input"
               type="text"
               asp-for="Query"
               value="@Model.Query"
               autocomplete="off">
        <button class="icon search-icon" type="submit" />
    </form>
</div>
