<div class="community-search">
    <select class="search-selector">
        <option value="title-content">제목+내용</option>
        <option value="writer">글쓴이</option>
    </select>
    <form class="searchbar community-searchbar">
        <input class="search-input" type="text" name="query" value="@ViewBag.query">
        <input class="icon search-icon" type="submit" value="" />
    </form>
</div>