<div class="community-area">
    <div class="community-main">
        <partial name="_CommunityFillterPartial" />
        <partial name="_CommunityTablePartial" model=Model.Items />
        <partial name="_CommunityButtonPartial" />
        <partial name="_CommunityAdminButtonPartial" />
    </div>
    <partial name="_CommunityTableIndexPartial" />
    <partial name="_CommunitySearchbarPartial" />
</div>