<div class="community-admin-button-area">
    <div class="admin-left-button">
        <button class="very-light-gray-button button-md3 button-radius-1">삭제</button>
        <button class="very-light-gray-button button-md3 button-radius-1">차단</button>
        <button class="very-light-gray-button button-md3 button-radius-1">해제</button>
    </div>
</div>