@model IIndexTableMetaData  

@{    
    var lastPageIndex = (Model.TotalCount - 1) / Model.CountPerPage;
    var index = Math.Max(1, Math.Min(lastPageIndex + 1, Model.Index));
    var cursor = index - 1;
    var digit = cursor / 10 * 10;
    var pageCount = Math.Max(Math.Min(10, (Model.TotalCount - (digit * Model.CountPerPage) - 1) / Model.CountPerPage + 1), 0);
}

<div class="community-pagenum-area pagenum">
    <a asp-route-index=@(Model.Index - 10) asp-route-query=@Model.Query class="arrow @(Model.Index - 10 <= 0 ? "disable" : "")"></a>
    @foreach (var item in Enumerable.Range(digit, pageCount))
    {
        <a asp-route-index=@(item + 1) class="@((item + 1) == Model.Index ? "active" : "")"
       asp-route-query=@Model.Query>@(item + 1)</a>
    }
    <a asp-route-index=@(Model.Index + 10) asp-route-query=@Model.Query class="arrow right-arrow @(((Model.Index - 1) / 10 * 10) + 10 > lastPageIndex ? "disable" : "")"></a>
</div>

