<div class="community-button-area">
    <div class="left-button">
        <button class="gray77-button button-md button-radius-1">전체글</button>
        <button class="tradewind-button button-md button-radius-1">추천글</button>
    </div>
    <button class="gray77-button button-lg">글쓰기</button>
</div>