@model IndexTableWithQueryModel<CommunityItemModel>;

@section Styles{
<partial name="_CommunityStylePartial" />
}

<div class="main-area">
    <div class="community-detail-area">
        <div class="title-area">
            <div class="title-main">
                <p>푸홀스</p>
            </div>
            <div class="title-sub">
                <div class="left">
                    <span class="nickname">마이 2홈</span>
                    <span class="divide-line">ㅣ</span>
                    <span class="create-date">작성 날짜</span>
                </div>
                <div class="right">
                    <span class="cmt-num">댓글 2</span>
                    <span class="views">조회 908</span>
                    <span class="recommend-num">추천수 33</span>
                </div>
            </div>
        </div>
        <div class="content-area">
            <span class="address">
                <svg src="~/addressIcon.svg" class="gray67" /> https://www.kaolist.net/board/3002919
            </span>
            <div class="community-content">
                <div class="content-main">
                    <p>홀스신 못잃는다</p>
                </div>
                <div class="recommened">
                    <div class="recommend-button">
                        <svg src="~/recommandIcon.svg" class="tradewind" width="56px" height="56px;" />
                        <svg src="~/notRecommand.svg" class="gray59" width="56px" height="56px;" />
                    </div>
                    <div class="recommend-num">
                        <span class="tradewind">33</span>
                        <span class="gray59">0</span>
                    </div>
                </div>
            </div>
            <div class="comment-area">
                <ul class="comment-amount">
                    <li class="comment-num">
                        <div class="comment-count">총 댓글 2개</div>
                        <div class="comment-count-button">
                            <svg src="~/reportIcon.svg" fill="#762525" />
                            <svg src="~/shareBoardIcon.svg" class="gray20" />
                        </div>
                    </li>
                </ul>
                <ul class="comment-list">
                    <li>
                        <div class="nickname">야무치</div>
                        <div class="comment-content">ㄹㅇ 왜 은퇴</div>
                    </li>
                    <li>
                        <svg class="comment-arrow" src="~/commentArrowIcon.svg" class="tradewind" />
                        <div class="nickname">404</div>
                        <div class="comment-content">개틀딱새끼니까 은퇴</div>
                    </li>
                </ul>
                <div class="comment-pagenum-area pagenum">
                    <a>1</a>
                </div>
                <div class="comment-write-area">
                    <div class="nickname">
                        나스기노코
                    </div>
                    <div class="comment-text">
                        <textarea class="write-comment-text" type="text" value=""></textarea>
                        <div class="assign-button-area">
                            <button class="button-md2 assign-button mostly-white-button button-radius-1">등록</button>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_CommunityIndexPartial" />
        </div>
    </div>
</div>