@using CodeRabbits.KaoList.Web.Models;
@using System.ComponentModel;
@model IndexTableWithQueryModel<CommunityItemModel>;

@section Styles{
<partial name="_CommunityStylePartial" />
}

<div class="main-area">
    <div class="container">
        <div class="community-area">
            <hr class="community-line" />
            <div class="community-main">
                <partial name="_CommunityFillterPartial" />
                <partial name="_CommunityTablePartial" model=Model.Items />
                <partial name="_CommunityButtonPartial" />
                <partial name="_CommunityAdminButtonPartial" />
            </div>
            <partial name="_CommunityTableIndexPartial" />
            <partial name="_CommunitySearchbarPartial" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/file.js"></script>
    <script>
        main();
    </script>
}