@section Styles{
<partial name="_CommunityStylePartial" />
}

<div class="main-area">
    <div class="community-write-area">
        <div class="title-write-area">
            <input class="title-write-content" type="text" value="" placeholder="제목을 입력해 주세요." />
            <div class="nickname-area">
                <span class="nickname">마이2홈</span>
            </div>
        </div>
        <div class="text-toolbar">
            <div class="addfiles-area">
                <div class="add-picture">
                    <svg src="~/addPicture.svg" />
                </div>
                <div class="add-video">
                    <svg src="~/addVideo.svg" />
                </div>
                <div class="add-file">
                    <svg src="~/addFile.svg" />
                </div>
            </div>
            <div class="addfiles-explain">
                <span class="addfiles-text">사진</span>
                <span class="addfiles-text">동영상</span>
                <span class="addfiles-text">파일</span>
            </div>
            <div class="effect-text-area">
                <div class="text-font">
                    <select class="text-font-type">
                        <option class="font-13" value="font-type">맑은고딕</option>
                    </select>
                    <select class="text-font-size">
                        <option class="font-13" value="font-size">14pt</option>
                    </select>
                </div>
                <div class="text-add-effect">
                    <button class="bold"><svg src="~/boldIcon.svg" /></button>
                    <button class="italic"><svg src="~/italicIcon.svg" /></button>
                    <button class="underLine"><svg src="~/underLineIcon.svg" /></button>
                    <button class="middleLine"><svg src="~/middleLineIcon.svg" /></button>
                    <button class="textColor"><svg src="~/textColorIcon.svg" /></button>
                    <button class="textBackgroundColor"><svg src="~/svg/textBackgroundColorIcon.svg" /></button>
                </div>
                <div class="text-sort">
                    <button class="leftAlign"><svg src="~/leftAlignIcon.svg" /></button>
                    <button class="centerAlign"><svg src="~/centerAlignIcon.svg" /></button>
                    <button class="rightAlign"><svg src="~/rightAlignIcon.svg" /></button>
                    <button class="bothSideAlign"><svg src="~/bothSideAlignIcon.svg" /></button>
                </div>
                <div class="paragraph-handling">
                    <button class="indent"><svg src="~/indentIcon.svg" /></button>
                    <button class="hangOut"><svg src="~/hangOutIcon.svg" /></button>
                </div>
            </div>
        </div>
        <div class="write-content-area">
            <textarea class="write-content-text">
            </textarea>
        </div>
        <div class="write-button-area">
            <button class="button-md gray77-button button-radius-1">취소</button>
            <button class="button-md tradewind-button button-radius-1">등록</button>
        </div>
    </div>
</div>