@page
@model CompletedAccountDeleteModel
@{
    ViewData["Title"] = SR.Completed_account_deletion;
}
<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<p>@SR.In_the_meantime__thank_you_for_using_the_KaoList_service_</p>
<a class="btn btn-primary gray-theme fw-bold mt-7" href="/">@SR.Go_to_homepage</a>
