@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = SR.Registeraion_Successful;
}
<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<div class="identity-container">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="button-wrapper">
        <a asp-page="./Login" role="button" class="btn btn-primary gray-theme fw-bold mt-7">
            @SR.Go_to_Login
        </a>
    </div>
</div>
