@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = SR.Password_reset_email_sent;
}
<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<div class="identity-container">
    <p>@SR.A_password_reset_has_been_sent_to_your_email_</p>
    <div>
        <a asp-page="./Login" class="btn btn-primary gray-theme fw-bold">
            @SR.Go_to_Login
        </a>
    </div>
</div>
