@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = @SR.Forgot_Password;
}
<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<div class="identity-container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-input-wrapper">
            <input asp-for="Input.Email" class="form-input-text" placeholder="@SR.Email_Address" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary gray-theme fw-bold mt-7">@SR.Send_Email</button>
    </form>
</div>
