@page
@model LogoutModel
@{
    ViewData["Title"] = SR.Logout;
}

<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
@{
    if (User.Identity.IsAuthenticated)
    {
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="btn btn-primary gray-theme fw-bold">@SR.Click_here_to_Logout</button>
        </form>
    }
    else
    {
        <p>@SR.You_have_successfully_logged_out</p>
    }
}
