@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = SR.Reset_password_confirmation;
}
<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<div class="identity-container">
    <p>@SR.Password_reset_is_complete</p>
    <p>@SR.Please_click_the_button_below_to_proceed_to_login</p>
    <div>
        <a asp-page="./Login" class="btn btn-primary gray-theme fw-bold">
            @SR.Go_to_Login
        </a>
    </div>
</div>
