@import 'variables/_color.scss';

.black {
    color: $color-black;
    fill: $color-black;
}

.bright-magenta {
    color: $color-bright-magenta;
    fill: $color-bright-magenta;
}

.bright-orange {
    color: $color-bright-orange;
    fill: $color-bright-orange;
}

.dark-moderate-cyan {
    color: $color-dark-moderate-cyan;
    fill: $color-dark-moderate-cyan;
}

.dark-moderate-pink {
    color: $color-dark-moderate-pink;
    fill: $color-dark-moderate-pink;
}

.gray20 {
    color: $color-gray20;
    fill: $color-gray20;
}

.gray33 {
    color: $color-gray33;
    fill: $color-gray33;
}

.gray51 {
    color: $color-gray51;
    fill: $color-gray51;
}

.gray56 {
    color: $color-gray56;
    fill: $color-gray56;
}

.gray59 {
    color: $color-gray59;
    fill: $color-gray59;
}

.gray67 {
    color: $color-gray67;
    fill: $color-gray67;
}

.gray77 {
    color: $color-gray77;
    fill: $color-gray77;
}

.gray79 {
    color: $color-gray79;
    fill: $color-gray79;
}

.gray82 {
    color: $color-gray82;
    fill: $color-gray82;
}

.gray85 {
    color: $color-gray85;
    fill: $color-gray85;
}

.gray91 {
    color: $color-gray91;
    fill: $color-gray91;
}

.gray95 {
    color: $color-gray95;
    fill: $color-gray95;
}

.gray98 {
    color: $color-gray98;
    fill: $color-gray98;
}

.gray99 {
    color: $color-gray98;
    fill: $color-gray98;
}

.light-grayish-blue {
    color: $color-light-grayish-blue;
    fill: $color-light-grayish-blue;
}

.light-orange67 {
    color: $color-light-orange67;
    fill: $color-light-orange67;
}

.light-orange69 {
    color: $color-light-orange69;
    fill: $color-light-orange69;
}

.light-red {
    color: $color-light-red;
    fill: $color-light-red;
}

.moderate-blue {
    color: $color-moderate-blue;
    fill: $color-moderate-blue;
}

.moderate-cyan {
    color: $color-moderate-cyan;
    fill: $color-moderate-cyan;
}

.moderate-cyan-lime-green {
    color: $color-moderate-cyan-lime-green;
    fill: $color-moderate-cyan-lime-green;
}

.moderate-red {
    color: $color-moderate-red;
    fill: $color-moderate-red;
}

.mostly-desaturated-dark-blue {
    color: $color-mostly-desaturated-dark-blue;
    fill: $color-mostly-desaturated-dark-blue;
}

.mostly-desaturated-dark-cyan {
    color: $color-mostly-desaturated-dark-cyan;
    fill: $color-mostly-desaturated-dark-cyan;
}

.pale-blue {
    color: $color-pale-blue;
    fill: $color-pale-blue;
}

.slightly-desaturated-cyan {
    color: $color-slightly-desaturated-cyan;
    fill: $color-slightly-desaturated-cyan;
}

.slightly-desaturated-pink {
    color: $color-slightly-desaturated-pink;
    fill: $color-slightly-desaturated-pink;
}

.soft-blue {
    color: $color-soft-blue;
    fill: $color-soft-blue;
}

.soft-lime {
    color: $color-soft-lime;
    fill: $color-soft-lime;
}

.soft-magenta {
    color: $color-soft-magenta;
    fill: $color-soft-magenta;
}

.soft-red {
    color: $color-soft-red;
    fill: $color-soft-red;
}

.stale-aquamarine {
    color: $color-stale-aquamarine;
    fill: $color-stale-aquamarine;
}

.strong-blue {
    color: $color-strong-blue;
    fill: $color-strong-blue;
}

.strong-lime {
    color: $color-strong-lime;
    fill: $color-strong-lime;
}

.strong-orange {
    color: $color-strong-orange;
    fill: $color-strong-orange;
}

.very-dark-blue {
    color: $color-very-dark-blue;
    fill: $color-very-dark-blue;
}

.very-dark-desaturated-blue {
    color: $color-very-dark-desaturated-blue;
    fill: $color-very-dark-desaturated-blue;
}

.very-dark-grayish-blue {
    color: $color-very-dark-grayish-blue;
    fill: $color-very-dark-grayish-blue;
}

.very-dark-grayish-orange {
    color: $color-very-dark-grayish-orange;
    fill: $color-very-dark-grayish-orange;
}

.very-soft-cyan {
    color: $color-very-soft-cyan;
    fill: $color-very-soft-cyan;
}

.vivid-red {
    color: $color-vivid-red;
    fill: $color-vivid-red;
}

.white {
    color: $color-white;
    fill: $color-white;
}
