@import 'variables/_color.scss';

table {
    border-collapse: collapse;
    background-color: $color-white;
    color: $color-gray20;

    tr {
        td, th {
            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}
