@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<ul class="footer-link">
    <li class="link-item">
        <a asp-area="" asp-page="/Terms">@SharedLocalizer["TermsOfService"]</a>
    </li>
    <li class="link-item">
        <a asp-area="" asp-page="/Privacy">@SharedLocalizer["PrivacyPolicy"]</a>
    </li>
</ul>