<ul class="footer-link">
    <li class="link-item">
        <a asp-area="" asp-page="/Terms">이용약관</a>
    </li>
    <li class="link-item">
        <a asp-area="" asp-page="/Privacy">개인정보취급방침</a>
    </li>
</ul>