<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    @if(IsSectionDefined("Styles")){
        @await RenderSectionAsync("Styles")
    } else {
        <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    }
</head>
<body>
    <header>
        <div class="container">
            <partial name="_NavPartial" />
            <partial name="_LoginPartial" />
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <partial name="_FooterLinkPartial" />
            <div class="info">
                <p>&copy; 2022 KaoList based on TJ media, KY Karaoke</p>
                <ul class="sns">
                    <li class="sns-item">
                        <a target="_blank" href="https://twitter.com/twitter" rel="noreferrer">
                            <svg src="~/twitter.svg" fill="#FFFFFF" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>