@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Manage/">마이페이지</a>
        </li>
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Logout" method="post">로그아웃</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Login">로그인</a>
        </li>
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Agreement">회원가입</a>
        </li>
    }
</ul>