$color-black: #000000;
$color-bright-magenta: #B83FDD;
$color-bright-orange: #F37934;
$color-dark-moderate-cyan: #419880;
$color-dark-moderate-pink: #99475D;
$color-gray20: #333333;
$color-gray33: #555555;
$color-gray51: #828282;
$color-gray56: #909090;
$color-gray59: #969696;
$color-gray67: #AAAAAA;
$color-gray77: #C4C4C4;
$color-gray79: #C9C9C9;
$color-gray82: #D2D2D2;
$color-gray85: #D9D9D9;
$color-gray91: #E9E9E9;
$color-gray95: #F2F2F2;
$color-gray98: #FAFAFA;
$color-gray99: #FDFDFD;
$color-light-grayish-blue: #DADCE0;
$color-light-orange67: #FF9458;
$color-light-orange69: #FFC963;
$color-light-red: #FF6378;
$color-moderate-blue: #3257C6;
$color-moderate-cyan: #4FC3CB;
$color-moderate-cyan-lime-green: #38C76D;
$color-moderate-red: #C04432;
$color-mostly-desaturated-dark-blue: #505A78;
$color-mostly-desaturated-dark-cyan: #709B90;
$color-pale-blue: #B1C5FF;
$color-slightly-desaturated-cyan: #6BB9A4;
$color-slightly-desaturated-pink: #B96B80;
$color-soft-blue: #5A7DE6;
$color-soft-lime: #58E28B;
$color-soft-magenta: #DB6FFC;
$color-soft-red: #E66C5A;
$color-stale-aquamarine: #BEFAD7;
$color-strong-blue: #006FC9;
$color-strong-lime: #03C75A;
$color-strong-orange: #D69E35;
$color-very-dark-blue: #212529;
$color-very-dark-desaturated-blue: #2B3550;
$color-very-dark-grayish-blue: #5F6368;
$color-very-dark-grayish-orange: #605E5C;
$color-very-soft-cyan: #89E2E8;
$color-vivid-red: #E7223D;
$color-white: #FFFFFF;

$text-primary: $color-gray20;
$text-primary-emphasis: $color-very-dark-grayish-blue;
$text-secondary: $color-white;
$text-info: $color-very-dark-grayish-orange;
