$font-sizes: (
    1: 25px,
    2: 22px,
    3: 20px,
    4: 18px,
    5: 17px,
    6: 16px,
    7: 15px,
    8: 14px,
    9: 13px,
    10: 11px,
    11: 9px,
    12: 6px
);

$h1-font-size: 72px;
$h2-font-size: 60px;
$h3-font-size: 56px;
$h4-font-size: 40px;
$h5-font-size: 36px;
$h6-font-size: 32px;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
