<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/pages/Identity/Account/layout.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="stylesheet" href="~/css/pages/Identity/Account/layout.min.css" />
    </environment>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div>
        <div class="container">
            <div class="logo">
                <a class="nav-logo" asp-area="" asp-page="/Index">
                    <svg src="~/logo.svg" fill="#FFFFFF" />
                </a>
            </div>
            @RenderBody()
        </div>
        <footer>
            <div class="footer-link-group">
                <partial name="_FooterLinkPartial" />
            </div>
        </footer>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>