@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KaoList : @ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/pages/Identity/Account/layout.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/pages/Identity/Account/layout.min.css" />
    </environment>
</head>
<body>
    <div class="identity-region">
        <div class="container">
            <div class="identity-box">
                <a class="logo-wrapper" asp-area="" asp-page="/Index">
                    <svg src="-/logo.svg" class="logo" />
                </a>
                @RenderBody()
            </div>
            <footer>
                <div class="customer-menu">
                    <p class="termsofservice">
                        <a asp-page="">
                            이용약관
                        </a>
                    </p>
                    <p class="privacy">
                        <a asp-page="">
                            개인정보이용방침
                        </a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
